/*start common css*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

div {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    text-decoration: none;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.left_side {
    background-color: #1DA1F2;
    width: 50%;
    padding: 200px 150px;
}

.left_side h2 {
    padding-bottom: 15px;
}

.left_side i {
    font-size: 35px;
}

.borderbottom {
    border-bottom: 1px solid #E6ECF0;
    overflow: hidden;
}

.follow,
.left_Hear,
.right_Join {
    font-size: 18px;
    color: #fff;
}

.right_side {
    width: 50%;
    padding: 145px 25px;
}

.right_side i {
    font-size: 50px;
    color: #1DA1F2;
}

.right_side h1 {
    font-size: 25px;
    color: #000;
}

.right_side p {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.log_in {
    border: 1px solid #1DA1F2;
    border-radius: 40%;
    background: none;
    padding: 5px 5px;
    color: #1DA1F2;
    font-weight: bold;
}

.log_in_2 {
    border: 1px solid #1DA1F2;
    /*    border-radius: 40%;*/
    background: #fff;
    padding: 10px 5px;
    color: #1DA1F2;
    font-weight: bold;
    width: 100%;
}

.sign_up {
    border: 1px solid #1DA1F2;
    /*    border-radius: 40%;*/
    background: #1DA1F2;
    padding: 5px 5px;
    color: #fff;
    font-weight: bold;
    width: 100%;
}

.formleft {
    margin-bottom: 15px;
    overflow: hidden;
}

.formleft i {
    float: left;
}

.formleft button {
    color: #1DA1F2;
    float: right;
    background: none;
    border: 1px solid #1DA1F2;
    border-radius: 15px;
    padding: 5px;
    outline: none;
}

button.sign_up {
    border-radius: 15px;
    outline: none;
}

button.log_in_2 {
    border-radius: 15px;
    outline: none;
    padding: 5px;
}

.navbar {
    padding: .5rem 17rem;
}

.navbar i {
    font-size: 25px;
    color: #1DA1F2;
}

.dropdown-menu {
    min-width: 7.6rem;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.footer {
    padding: 10px 0px;
}

.footer ul {
    margin: 0px;
    padding: 0px;
}

.footer ul li {
    display: inline;
    padding: 0px 2px;
}

.footer ul li a {
    color: #B2BFD4;
}

.footer ul li a:hover {
    border-bottom: 1px solid #B2BFD4;
}

/*End Contact us Area*/
/*..............*/
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.bckgroundcolor {

    background-color: #E6ECF0;
}

.color {
    background-color: white;
    margin: 0 auto;
    border: 1px solid #9DB5DE;
    margin-top: 10px;
    width: auto;
    max-width: 830px;
}

.login {
    padding: 30px 10px 10px 100px;
}

.login p {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.login a,
.secondform a {
    color: #1DA1F2;
}

.login form input {
    width: 97%;
    max-width: 300px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #E6ECF0;
}

.login form input[type=submit] {
    width: 10%;
    padding: 5px;
    background-color: #1DA1F2;
    outline: none;
    border-radius: 20px;
    color: white;
}

.login form input[type=checkbox] {
    margin: 10px;
    padding: 0;
    width: 15px;
    height: 15px;
}

.login ul {
    margin: 0;
    padding: 0;
}

.secondform {
    margin: 0 auto;
    border: 1px solid #9DB5DE;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-top: 10px;
    width: auto;
    max-width: 830px;
    padding: 30px 100px;
    background-color: #F5F8FA;
}

.navbar {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

/*End main css parts*/